<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People's list</title>
</head>
<body>
    <h1>PEOPLE'S LIST</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
        </tr>
        <tr th:each="people : ${listPeople}">
            <td th:text="${people.id}"></td>
            <td th:text="${people.name}"></td>
            <td th:text="${people.age}"></td>
            <td>
                <a th:href="@{/people/edit/{id}(id=${people.id})}">Edit</a>
            </td>
        </tr>
    </table>

    <a href="/people/new">Add New person</a>


</body>
</html>